/* BODY */
* {
    box-sizing: border-box;
}

body {
    background-color: seagreen !important;
    overflow: hidden;
}

/* HIDE */
.hide {
    display: none;
}

/* INITIAL DISPLAY */
#intro {
    width: 100%;
    margin-top: 20%;
    text-align: center;
    padding: 5px;
}

h1 {
    font-size: 55px;
    animation-name: title;
    animation-duration: 2s;
}

@keyframes title {
    0%  {font-size: 10px;}
    100%{font-size: 55px;}
}

.button {
    font-size: 20px;
    color: black;
    border: 2px solid black;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    width: 104px;
    border-radius: 0%;
}

.start {
    margin-bottom: 20px;
}

#start-button {
    padding-left: 31px;
    padding-right: 31px;
}

.button:hover {
    background-color: black;
    color: white;
}

/*  QUIZ  */
/* NAVBAR */
.top {
    margin-right: 30px;
    font-size: 30px;
}

#exit {
    text-decoration: none;
    color: black;
    font-size: 30px;
    float: right;
    margin-top: -4.5%;
}

#exit:hover {
    opacity: 0.5;
}

/*  QUIZ  */
/* QUESTION */
/*CONTAINER*/
h3 {
    padding-top: 5px;
    font-size: 40px;
}
.questions-container {
    position: relative;
    margin: 80px;
    margin-top: 15%;
    /* width: 100%; */
    /* width: 960px; */
    background-color: black;
    text-align: center;
    /* margin-left: 18%; */
    padding-bottom: 15px;
    color: white;
}

.answer {
    /* border: 2px solid black; */
    width: auto;
    margin: 10px;
    font-size: 20px;
    padding: 3px;
}

.answer:hover {
    background-color: white;
    color: black;
}

#next {
    padding: 5px;
    color: white;
}

#next:hover {
    background-color: white;
    color: black;
}

.right {
    background-color: green;
}

.wrong {
    background-color: darkred;
}

/*  HIGH  */
/* SCORE */
/* PAGE */

#home {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#home:hover {
    transform-origin: 3px;
    opacity: 0.5;
}